body{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
.myButton {
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	background-color:#2dabf9;
	border-radius:3px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size: 1rem;
	padding:12px 35px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
    transition: .4s;
    pointer-events: painted;
}
.myButton:hover {
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	background-color:#0688fa;
    color: #000;
}
.myButton:active {
	position:relative;
	top:1px;
}
  
.h-heading{
    background: #0f92ea;
    color: #fff;
}
.h-heading p{
    padding: 10px 50px 0px 50px;
    font-size: 1rem;
    margin-top: 1px;
    
}
.menu ul{
    margin-top: 8px;
}
.menu ul li{
    display: inline-block;
}
.menu ul li a{
    display: inline-block;
    text-decoration: none;
    color: #242c42;
    font-size: 1.1rem;
    margin: 0px 12px;
    text-transform: uppercase;
    font-weight: 500;
    transition: .3s;

}
.menu ul li a:hover{
   color: #0688fa;
}
.bg-b{
    position: relative !important;
  
}

.bg-b::after{
     content: '';
     position: absolute !important;
     top: 0;
     left: 0;
     height: 100%;
     width: 100%;
     background: rgba(0,0,0, .3) !important;

}
.z-index{
    z-index: 999 !important;
}
.z-index h5{
 
}
.z-index p{
   font-size: 1rem;
}
.b-caption{
    position: absolute !important;
    top: 30%;
    left: 3%;
    pointer-events: none;
}
.top {
    border: none;
    line-height: 0px;
    border-radius: 0%;
    margin: 0;
    margin-top: -4px;
    outline: none;
    padding: 0;
}
.d-menu{
    top: 200% !important;
    width: 250px !important;
    
}
.d-menu li{
    display: block !important;
    
}
.d-menu a{
    margin: 0 !important;
}
.book-1{
    background: #0f92ea;
    color: #fff;
    padding: 45px 30px 30px 30px;
    margin-top: -70px;
    position: relative;
}
.book-1 span{
    font-size: 50px;
}
.book-1 h3{
    font-size: 1.3rem;
    margin-bottom: 10px;
    margin-top: 30px;
    font-weight: 600;
}
.book-1 p{
    font-size: 0.9rem;
}
.book-2{
    background: #ff5253;
}
.book-3{
    background: #ffbb00;
}
.c-content{
    padding: 40px 30px;
}
.c-content h3{
    font-size: 1.3rem;
    margin-bottom: 20px;
    font-weight: 600;
}
.c-content p{
    font-size: 0.9rem;
    color: #232323;
    font-weight: 500;
}
.blue{
    color: #0f92ea;
}
.c-btn {
	background-color:#0688fa;
	border-radius:28px;
	border:1px solid #0688fa;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size: 1.1rem;
	padding:12px 36px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
    transition: .4s;
    margin-top: 20px;
    font-weight: 600;
}
.cours-1:hover .c-btn {
	color: #000;
}
.c-btn:active {
	position:relative;
	top:1px;
}
.c-p{
    overflow: hidden;
}
.c-img{
    transition: .5s;

}
.cours-1:hover .c-img{
    transform: scale(1.2) rotate(5deg);
    
}
.contact-section{
    background: url(./home-section3-bg.jpg);
    padding: 60px 0px 50px 30px;
    color: #fff;
}
.faka{
    height: 2px;
    width: 60px;
    background: #fff;
}
.yellow{
    color: #ffbb00;
}
.fff{
    background: #fff;
    color: #000;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    font-size: 1.2rem;
    transition: .4s;
    transform: rotateY(360deg);
}
 .hover:hover .fff{
     color: #fff;
     background: #0f92ea;
     transform: rotateY(0deg);
 }
.icon p{
    font-size: 0.9rem;
}
.center-content{
    background: #f9f9f9;
    border-left: 20px solid #ddd;
    border-right: 20px solid #ddd;
    padding: 30px;
    height: 220px;
    margin-top: 18px;
}
.center-content h2{
    font-size: 1rem;
    font-weight: 600;
}
.center-content p{
    font-size: 0.9rem;
  
}
.left-content{
    position: relative;

}

.left-content::after {
    content: '';
    position: absolute;
    top: 0;
    right: -21px;
    border-style: solid;
    border-width: 19px 0 0 21px;
    border-color: transparent transparent transparent #ddd;
}
.left-content::before {
    content: '';
    position: absolute;
    right: -21px;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 19px 21px 0 0;
    border-color: #ddd transparent transparent transparent;
}
.inner{
    position: absolute;
    top: 15px;
    left: 0;
    background: #0f92ea;
    padding: 10px 20px 40px 20px;
    color: #fff;
    font-size: 1.3rem;
}
.right-content{
    background: #0f92ea;
    color: #fff;
    height: 255px;
    padding: 20px 30px 40px 30px;
    position: relative;
}
.right-content h4{
    font-size: 1.3rem;
    margin-left: 35px;
}
.right-content p{
    font-size: 0.9rem;
    margin-left: 35px;
}
.right-content::after{
    content: '';
    position: absolute;
    top: 0;
    left: -21px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 19px 21px;
    border-color: transparent transparent #ddd transparent;
    
}
.right-content::before{
    content: '';
    position: absolute;
    left: -21px;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 21px 18px 0;
    border-color: transparent #ddd transparent transparent;
    
    
}
.right-content i{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid #fff;
    line-height: 50px;
    text-align: center;
}
.number-section{
    background: url(./home-section5-bg.jpg);
    padding: 100px 0px;
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
}
.number{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 2px solid #2dabf9;
    transition: .4s;
    
}
.number:hover{
     background: #2dabf9;
     color: #000;
}
.number i{
    margin-top: 50px;
    font-size: 3rem;
    margin-bottom: 10px;
    transition: .4s;
    transform: rotatex(360deg);
}
.number strong{
    font-size: 2rem;
    transition: .4s;
}

.number:hover i{
    transform: rotateX(0deg);
}
.team-1{
    position: relative;
}
.t-inner{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background:rgb(45,171,249, .6);
    height: 100%;
    width: 100%;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transform: scaleY(0);
    transition: .7s;
    transform-origin: top;
}
.team-1:hover .t-inner{
    visibility: visible;
    opacity: 1;
    transform: scaleY(1);
   
}
.t-inner h3{
    margin-top: 180px;
    background: #2dabf9;
    display: inline-block;
    padding: 0px 10px;
}
.t-inner span{
    margin: 10px 10px;
    font-size: 30px;
    transition: .4s;
    color: #fff;
    
}
.t-inner span:hover{
    color: #000;
}
.student-banner{
    background: url(./home-section7-bg.jpg);
    background-repeat: no-repeat;
    padding: 80px 0px 40px 0px;
}
.circle{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-bottom: 30px;
}
.tops{
   position: relative;

}
.black{
    color: #000 !important;
}
.location{
    background: #0e77bd;
    color: #fff;
    padding: 50px;
}
.location i{
    font-size: 2rem;
    margin-bottom: 20px;
}
.main{
    background: #0f92ea !important;
}
footer{
    background: #0b0b0b;
}
footer p{
    color: #818a9e;
    font-size: 0.9rem;
}
footer li{
    color: #818a9e;
    margin: 10px 0px;
    transition: .4s;
}
footer .ss{
    color: #818a9e;
}
footer li:hover{
    color: #0f92ea;
}
.f-botom{
    background: #080808;
}